*{
    margin: 0;
    padding: 0;
}
table{
    margin: auto;
}
td{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
}
.topBar{
    text-align: center;
    margin: 20px 0;
}
.topBar>span{
    font-size: 40px;
}
.topBar>button{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #5bc0de;
    border: 1px solid #46b8da;
}
.topBar>button:hover,.topBar>button:active {
    background-color: #31b0d5;
    border-color: #269abc;
}